.env
*.db
*.sqlite
*.sqlite3
*.log
.DS_Store

backend/.env
backend/*.db
backend/*.sqlite
backend/*.sqlite3

frontend/node_modules/
frontend/dist/

docker-gin/.env
docker-gin/backend/.env
docker-gin/backend/*.db
docker-gin/backend/*.sqlite
docker-gin/backend/*.sqlite3
docker-gin/frontend/node_modules/
docker-gin/frontend/dist/

miniapp/node_modules/
miniapp/dist/
miniapp/unpackage/
